* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #070707;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1rem;
}

.Head h1{
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color:transparent;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.Calculator {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 480px;
    min-width: 484px;
    min-height: 484px;
    height: auto;
    border-radius: 10px;
    background-color: #111;
    margin-left: 25px;
    margin-right: 25px;
}
@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.Calculator::after, .Calculator::before {
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding:3px;
    border-radius: 10px;
    background-image : conic-gradient(from var(--angle), rgb(4, 240, 240), blue,rgb(250, 4, 45),green,rgb(234, 129, 2),rgb(98, 7, 98),rgb(186, 181, 181),rgb(3, 246, 161));
    z-index: -1;
    animation: spin 4s linear infinite;
}
.Calculator::before {
    filter: blur(1.5rem);
    opacity: 0.2;
}

.display {
    position: relative;
    background-color: rgba(50, 51, 50, 0.479);
    height: 85px;
    margin: 15px;
    color: #faf8f8;
    padding: 1rem;
    overflow-y: hidden;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(253, 251, 251, 0.03);
    min-height: 60px;
    border: 0.1px solid rgb(93, 92, 92);
    border-radius: 20px;
}
.display::-webkit-scrollbar {
    width: 2px;
}
.display::after{
    content: '';
    position: absolute;
    top: 25%;
    margin: 3px;
    height: 40px;
    width: 1px;
    border-radius: 4px;
    background-color: rgba(248, 252, 248, 0.57);
    animation: blink 3.5s infinite;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;

    }
    25%, 75% {
        opacity: 0;
    }
}

.rows {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    
}
.rows .button {
    flex: 1 1 22%;
    color: #070707;
    background-color: #fbf9f9;
    font-size: 1.5rem;
    padding: 0.8rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.08s ease, box-shadow 0.08s ease, background-color 0.1s ease;
}

.rows .button:hover {
    transform: translateY(-2px);
    font-size: 1.55rem;
    font-weight: 700;
    box-shadow: 0px 0px 4px rgb(243, 242, 242);
}

.rows .button:active {
    transform: translateY(1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.operator {
    background-color: #f2f2f2;
    font-weight: 900;
}
#equals {
    background-color: rgb(231, 97, 1);
    color: #fff;
    font-weight: 900;
}

#clear {
    background-color: rgba(251, 12, 12, 0.94);
    color: #fff;
    font-weight: 600;
}

#delete,
#percent {
    background-color: #ffe8e8;
    font-weight: 600;
}

#0 {
    flex: 1 1 47%;
}

@media (max-width:480px) {
    body{
        justify-content: center;
    }
    .Calculator {
       min-width: 360px;
       min-height: 400px;
    }
    .Calculator::after{
        min-width: 364px;
        min-height: 408px;
    }
    .Head h1 {
        font-size: 1.5rem;
    }
    .rows .button{
        font-size: 1rem;
        padding: 10px;
        flex: 1 1 20%;
    }
    .rows .button:hover {
        transform: translateY(-1px);
        font-size: 1rem;
        font-weight: 700;
        box-shadow: 0px 0px 3px rgb(243, 242, 242);
    }
    .display::after{
        height: 33px;
        transform: translateY(5px);
    }   

}
 
